<h1><%= t('.users_man') %></h1>

<div class="buttons_panel">
	<%= link_to t('.new_man'), new_manual_path, class: 'btn btn-outline-primary btn-sm' %>
</div>

<section id="categories">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th><%= t('.title') %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @user.manuals.each_with_index do |manual, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= link_to manual.title, manual_path %></td>
				<td>
					<%= link_to t('.edit'), edit_manual_path(manual), class: 'btn btn-outline-primary btn-sm' %>
					<%= link_to t('.delete'), manual_path(manual), method: :delete, data: {confirm: 'Are you shure?'}, class: 'btn btn-outline-danger btn-sm' %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</section>